* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'AlboriRegular';
    src: url('../fonts/Albori Sans Regular.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'AlboriLight';
    src: url('../fonts/Albori Sans Light.woff');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'AlboriThin';
    src: url('../fonts/Albori Sans thin.woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.woff');
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    font-family: 'AlboriRegular' !important;
    color: #333333;
}

header {
    background-color: #F8F5F5;
    position: relative;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    /* height: 100vh; */
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

a {
    text-decoration: none;
    color: #333333;
}

.header-menu {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    padding: 30px 0;
}

@media (min-width: 768px) {
    .navigation {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: 32px;
    margin-left: 10px;
}

.menu li {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 200;
}
.menu li a {
    font-size: 20px;
}

.underline-decor {
    text-decoration: underline;
}

.navbar-wrapper {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-logo {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    word-break: normal;
}

.menu li+li {
    margin-left: 20px;
}

.header-bottom-wrapper {
    padding-top: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 40px;
}

.header-bottom-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 16px;
}

.header-bottom-wrapper > picture img {
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.header-bottom .container {
    position: relative;
}

.load-button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.load-button button {
    width: 260px;
    height: 50px;
    background-color: #D9D9D9;
    text-align: center;
    font-size: 25px;
    border: none;
    color: #333333;
    font-family: 'AlboriRegular';
    border-radius: 4px;
}

.underline {
    width: 100%;
    height: 0;
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border: thin solid #BB261A;
}

.underline::after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: -12px;
    border: 12px solid #BB261A;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}

.view-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
}

.arrow-right {
    width: 17px;
    height: 0;
    border: 0.5px solid #BB261A;
    position: relative;
    margin-bottom: 1px;
}

.arrow-right::after {
    content: '';
    width: 0;
    height: 0;
    border: 5px solid #BB261A;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
    top: -6px;
    right: -5px;
    position: absolute;
}

.button {
    position: relative;
    margin: 1em;
    font-weight: 100;
    padding: 1em 1.25em;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.button.raised {
    background: #8B8986;
}

.anim {
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.anim:before {
    position: relative;
    content: '';
    display: block;
    margin-top: 100%;
}
.anim:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}

.hoverable:hover > .anim {
    -webkit-animation: anim-out 0.75s;
    animation: anim-out 0.75s;
}
.hoverable:hover > .anim:after {
    -webkit-animation: anim-out-pseudo 0.75s;
    animation: anim-out-pseudo 0.75s;
}

.burger-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@-webkit-keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes anim-out {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@-webkit-keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}
@keyframes anim-out-pseudo {
    0% {
        background: rgba(0, 0, 0, 0.25);
    }
    100% {
        background: transparent;
    }
}

.gray-btn {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.gray-btn svg {
    fill:#bb261a;
    stroke:#bb261a;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.gray-btn:hover {
    background-color: #BB261A;
    color: #FFFFFF;
    cursor: pointer;
}

.gray-btn:hover svg {
    fill: #FFFFFF;
    stroke: #FFFFFF;
}

@media (pointer: coarse) {
    .gray-btn:hover {
        background-color: #d9d9d9;
        color: #333;
    }

    .gray-btn:hover svg {
        fill: #bb261a;
        stroke: #bb261a;
    }
}


@media (max-width: 768px) {
    .header-logo {
        font-weight: 300;
    }

    .wrapper {
        overflow-x: hidden;
    }
}

@media (max-width: 568px) {
    .arrow-right::after {
        border-width: 4px;
        right: -4px;
    }


}
